.quick-link-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;
  margin-bottom: 8px;
  background-color: rgba(var(--theme-active-light), 1);
  box-shadow: 0px 1px 2px 0px rgba(var(--theme-active-boxshadow), 0.25);
  border-radius: 12px;
}

.quick-link-summary {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 2px 0px;
}

.quick-link-summary:hover > p {
  color: rgba(var(--theme-active-tertiary), 1);
}

.quick-link-details {
  display: none;
  width: 100%;
  transition: all 150ms ease-in-out;
  padding: 12px 8px 8px 0px;
  color: rgba(var(--theme-active-medium), 1);
}

.quick-link-details p {
  width: 100%;
  word-break: break-all;
  white-space: normal;
  font-size: 12px;
}

.quick-link-details.show-details {
  display: flex;
}

#shortcut {
  width: 68px;
  flex-shrink: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#name {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.component-actions {
  flex-shrink: 0;
  width: 87px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.action-icon {
  font-size: 21px;
  cursor: pointer;
}

.action-icon:hover {
  color: rgba(var(--theme-active-tertiary), 1);
}

.quick-links-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
}

#exportBtn {
  padding: 10px 24px;
}

.quick-link-edit {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  transition: all 150ms ease-in-out;
  padding: 16px 8px 8px 0px;
}

.quick-link-edit.show-edit {
  display: flex;
}

.quick-link-edit-inputs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.editNameInput {
  width: 30%;
  margin-right: 4px;
}

.editLinkInput {
  width: 70%;
  margin-left: 4px;
}

.quick-link-edit-actions {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
}

.quick-link-edit-actions button {
  padding: 4px 16px;
  margin-right: 8px;
}

.quick-link-edit-message {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  border-radius: 16px;
  margin-top: 12px;
}
