:root {
  /* Vermilion Theme (DEFAULT) */
  /* Light Mode */
  --theme-vermilion-light-primary: 246, 243, 229;
  --theme-vermilion-light-secondary: 47, 19, 6;
  --theme-vermilion-light-tertiary: 216, 63, 3;
  --theme-vermilion-light-dark: 47, 19, 6;
  --theme-vermilion-light-medium: 187, 187, 187;
  --theme-vermilion-light-light: 251, 247, 245;
  --theme-vermilion-light-boxshadow: 47, 19, 6;
  --theme-vermilion-light-page: 251, 247, 245;

  /* Honey */
  --theme-honey-light-primary: 251, 243, 218;
  --theme-honey-light-secondary: 47, 19, 6;
  --theme-honey-light-tertiary: 247, 192, 98;
  --theme-honey-light-dark: 47, 19, 6;
  --theme-honey-light-medium: 187, 187, 187;
  --theme-honey-light-light: 251, 249, 239;
  --theme-honey-light-boxshadow: 47, 19, 6;
  --theme-honey-light-page: 251, 249, 239;

  /* Mint */
  --theme-mint-light-primary: 221, 230, 223;
  --theme-mint-light-secondary: 47, 19, 6;
  --theme-mint-light-tertiary: 155, 190, 187;
  --theme-mint-light-dark: 47, 19, 6;
  --theme-mint-light-medium: 187, 187, 187;
  --theme-mint-light-light: 251, 251, 244;
  --theme-mint-light-boxshadow: 47, 19, 6;
  --theme-mint-light-page: 251, 251, 244;

  /* Mono */
  --theme-mono-light-primary: 240, 236, 230;
  --theme-mono-light-secondary: 49, 49, 49;
  --theme-mono-light-tertiary: 49, 49, 49;
  --theme-mono-light-dark: 49, 49, 49;
  --theme-mono-light-medium: 187, 187, 187;
  --theme-mono-light-light: 251, 251, 244;
  --theme-mono-light-boxshadow: 49, 49, 49;
  --theme-mono-light-page: 251, 251, 244;

  /* Rose */
  --theme-rose-light-primary: 247, 225, 233;
  --theme-rose-light-secondary: 222, 120, 157;
  --theme-rose-light-tertiary: 222, 120, 157;
  --theme-rose-light-dark: 47, 19, 6;
  --theme-rose-light-medium: 187, 187, 187;
  --theme-rose-light-light: 251, 247, 245;
  --theme-rose-light-boxshadow: 222, 120, 157;
  --theme-rose-light-page: 251, 247, 245;

  /* Sage */
  --theme-sage-light-primary: 244, 236, 220;
  --theme-sage-light-secondary: 112, 142, 134;
  --theme-sage-light-tertiary: 152, 191, 180;
  --theme-sage-light-dark: 112, 142, 134;
  --theme-sage-light-medium: 187, 187, 187;
  --theme-sage-light-light: 251, 247, 245;
  --theme-sage-light-boxshadow: 112, 142, 134;
  --theme-sage-light-page: 251, 247, 245;

  /* Active Theme */

  --theme-active-primary: var(--theme-vermilion-light-primary);
  --theme-active-secondary: var(--theme-vermilion-light-secondary);
  --theme-active-tertiary: var(--theme-vermilion-light-tertiary);
  --theme-active-dark: var(--theme-vermilion-light-dark);
  --theme-active-medium: var(--theme-vermilion-light-medium);
  --theme-active-light: var(--theme-vermilion-light-light);
  --theme-active-boxshadow: var(--theme-vermilion-light-boxshadow);
  --theme-active-page: var(--theme-vermilion-light-page);

  /* Page Container */
  --page-container-width: 1000px;

  /* Data States */
  --success-background: 212, 237, 218;
  --success-border: 195, 230, 203;
  --error-background: 248, 215, 218;
  --error-border: 245, 198, 203;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: rgba(var(--theme-active-page), 1);
  color: rgba(var(--theme-active-dark), 1);
  min-height: 100vh;
}

button {
  background-color: rgba(var(--theme-active-tertiary), 1);
  color: rgba(var(--theme-active-light));
  border: solid 1px rgba(var(--theme-active-tertiary), 1);
  border-radius: 999px;
  cursor: pointer;
}

button:hover {
  filter: brightness(105%);
}

button.inverted {
  background-color: rgba(var(--theme-active-light), 1);
  color: rgba(var(--theme-active-tertiary), 1);
  border: solid 1px rgba(var(--theme-active-tertiary), 1);
}

button.inverted:hover {
  background-color: rgba(var(--theme-active-tertiary), 1);
  color: rgba(var(--theme-active-light), 1);
}

button:disabled {
  background-color: rgba(var(--theme-active-medium), 1);
  color: rgba(var(--theme-active-dark), 1);
  border: solid 1px rgba(var(--theme-active-medium), 1);
}

input[type='text'] {
  font-size: 14px;
  line-height: 18px;
  padding: 10px 16px;
  border-radius: 12px;
  border: solid 1px rgba(var(--theme-active-medium), 1);
  background-color: rgba(var(--theme-active-light), 1);
  color: rgba(var(--theme-active-dark), 1);
}

input[type='text']::placeholder {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: normal;
  color: rgba(var(--theme-active-medium), 1);
}

input[type='text']:focus {
  outline: solid 1px rgba(var(--theme-active-tertiary), 1);
  filter: brightness(101%);
}

li {
  list-style: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
