.content-block {
  height: fit-content;
  width: 341px;
  background-color: rgba(var(--theme-active-primary), 1);
  box-shadow: 0px 1px 2px 0px rgba(var(--theme-active-boxshadow), 0.25);
  /* X - Y - Blur - Spread - Colour */
  border-radius: 16px;
  padding: 24px;
}

.popup-title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.title-icon {
  font-size: 24px;
  margin-left: auto;
  cursor: pointer;
}

.title-icon:hover {
  color: rgba(var(--theme-active-tertiary), 1);
}
